*{
    margin: 0;
    padding:0;


}
body{
     display: flex; 
    justify-content:space-around;
    text-align: center;
 
}

#main_sector{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: space-between;
    height: 90vh;
    width: 70%;

}
#block ,#left, #right{
    border:solid 2px maroon;
   
}

#block{
    height: 500px;
    width: 750px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
}

#block > img{
    width: 123px;
    height: 123px;
    border: 1px solid grey;
    }

#left{
 height :300px;
 width: 300px;
 margin-top: 30px;
}

#left img{
    height: 300px;
    width: 300px;
}

#mixed_block{
    height: 200px;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 3px;
}

#mixed_block > img{
    width: 98px;
    height: 98px;
    border: 1px solid grey;
    }